.notes-list {
	text-align: center;

	h2 {
		color: #FFEB00;
	}

	a {
		display: block;
		text-decoration: none;
		text-align: center;
		color: orange;
		margin: 15px auto;
		width: 300px;
		height: 50px;
		background: white;
		box-shadow: 1px 1px 5px gray;

		display: flex; // что то намудрил, по другому не выравнивалось по центру
		justify-content: center;
		align-items: center;

		&:hover {
			box-shadow: 1px 1px 8px gray;
		}
	}
}

.notes-item {
	margin-top: 5px;
	p {
		color: #F5216F;
		font-size: 20px;
		font-weight: normal;
	}
}



.note-info {
	background: white;
	padding: 20px 20px;
	box-shadow: 1px 1px 5px gray;

	h2 {
		margin-bottom: 30px;
		font-size: 36px;
	}

	p {
		
	}

	.buttons-group button,
	.buttons-group a {
		margin: 10px;
	}
}

.notes-search {
	position: relative;
	width: 400px;
	margin: 30px auto;

	span {
		position: absolute;
		top: 10px;
		left: 370px;
	}
}

.notes-form {
	label {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 20px;
		font-weight: normal;
	}
	input {
		width: 300px;
		margin: 0 auto;
	}

	textarea {
		width: 500px;
		margin: 0 auto;
	}

	.form-error {
		border: 0.5px solid red;
		color: red;
		width: 50%;
		margin: 10px auto;
		padding: 10px;
	}
}